* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: aliceblue;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 120rem;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}

.flex {
  display: flex;
  gap: 2rem;
  margin: 0 8rem;
}

.sidebar {
  width: 40rem;
}

.sidebar h2 {
  margin-bottom: 2rem;
}

.habits-list {
  margin-bottom: 1.5rem;
}

.habit {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  border: 1px solid #555;
  border-radius: 2px;
  margin-bottom: 0.8rem;
}

.habit div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.button {
  background-color: #2165e4;
  color: #fff;
  border: none;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  border-radius: 3px;

  margin-left: auto;
  display: block;

  transition: all 0.3s;
}

.button:hover,
.button:active {
  background-color: #417be7;
}

.button--add {
  grid-column-start: 2;
  grid-column-end: -1;
}

.button-delete {
  border: none;
  background-color: #fff;
  font-size: 1.6rem;
}

.form-add-habit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;

  border-radius: 3px;
  border: 1px solid #555;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.track-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70rem;
}

.track-habit {
  /* display: flex; */
  /* gap: 2rem; */
  padding: 1rem;
  border: 1px solid #555;
  border-radius: 3px;
}

.habit-description {
  margin-bottom: 0.8rem;
}

.habit-description span {
  font-weight: 600;
}

.days,
.check-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}

.days {
  margin-bottom: 0.8rem;
}

.icon {
  font-size: 2.2rem;
  cursor: pointer;
}

.icon-trash {
  cursor: pointer;
}

.icon-empty {
  color: #2165e4;
}

.icon-x {
  color: #e31010;
}

.icon-check {
  color: #0cc12a;
}
