* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: aliceblue;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 120rem;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}

.flex {
  display: flex;
  gap: 2rem;
}

.sidebar {
  width: 40rem;
  background-color: blue;
}

.habit {
  background-color: coral;
}

.form-add-habit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  background-color: crimson;
}

.track-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70rem;
  background-color: aqua;
}

.track-habit {
  display: flex;
  gap: 2rem;

  background-color: cornflowerblue;
}
