* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: aliceblue;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 120rem;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}

.flex {
  display: flex;
  gap: 2rem;
  margin: 0 8rem;
}

.sidebar {
  width: 40rem;
}

.sidebar h2 {
  margin-bottom: 2rem;
}

.habit {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  border: 1px solid #555;
  border-radius: 2px;
  margin-bottom: 0.8rem;
}

.habit div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.button {
  background-color: #2165e4;
  color: #fff;
  border: none;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  border-radius: 3px;
  margin-bottom: 1.5rem;

  margin-left: auto;
  display: block;
}

.form-add-habit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  background-color: crimson;
}

.track-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70rem;
  background-color: aqua;
}

.track-habit {
  display: flex;
  gap: 2rem;

  background-color: cornflowerblue;
}
